In [1]:
# This notebook will follow a series of data anaylsis exercises using the pandas library.
# I will follow the video at this link and try all the exercises myself before continuing on to the solution
# Video can be found at this link: https://www.youtube.com/watch?v=4hYOkHijtNw&list=PLy3lFw0OTlutzXFVwttrtaRGEEyLEdnpy&index=1&t=3s

In [2]:
# Import necessary libraries
import pandas as pd

In [22]:
# Read in dataset and assign it to a variable called weather_df
dataset_link = "/Users/trishulsathiyamoorthy/Desktop/data_analysis/1. Weather Data.csv"
weather_df = pd.read_csv(dataset_link)

weather_df

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
0,1/1/2012 0:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,1/1/2012 1:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,1/1/2012 2:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,1/1/2012 3:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,1/1/2012 4:00,-1.5,-3.3,88,7,4.8,101.23,Fog
...,...,...,...,...,...,...,...,...
8779,12/31/2012 19:00,0.1,-2.7,81,30,9.7,100.13,Snow
8780,12/31/2012 20:00,0.2,-2.4,83,24,9.7,100.03,Snow
8781,12/31/2012 21:00,-0.5,-1.5,93,28,4.8,99.95,Snow
8782,12/31/2012 22:00,-0.2,-1.8,89,28,9.7,99.91,Snow
8783,12/31/2012 23:00,0.0,-2.1,86,30,11.3,99.89,Snow

# Find the unique "Wind Speed" values in the dataset

In [23]:
unique_values = len(weather_df["Wind Speed_km/h"].unique())

print(f"{unique_values} unique values in 'Wind Speed' column")

34 unique values in 'Wind Speed' column

# Find the number of times when the Weather is exactly "Clear"

In [24]:
clear_weather_occurrences = len(weather_df[weather_df["Weather"] == "Clear"])
print(f"Clear weather occurred a total of {clear_weather_occurrences} times")

Clear weather occurred a total of 1326 times

# Find the number of times when the wind speed was exactly 4 km/h

In [25]:
four_km_occurrences = len(weather_df[weather_df["Wind Speed_km/h"] == 4])
print(f"The wind speed was 4 km/h a total of {four_km_occurrences} times")

The wind speed was 4 km/h a total of 474 times

# Find the all the null values in the entire dataframe

In [26]:
weather_df.isnull().sum()
# It seems that the dataset doesn't contain any null values in any column

Date/Time           0
Temp_C              0
Dew Point Temp_C    0
Rel Hum_%           0
Wind Speed_km/h     0
Visibility_km       0
Press_kPa           0
Weather             0
dtype: int64

# Total rows and columns in dataset

In [27]:
rows, columns = weather_df.shape
print(f"Dataset has {rows} rows")
print(f"Dataset has {columns} columns")

Dataset has 8784 rows
Dataset has 8 columns

# The indexing of the dataset

In [28]:
weather_df.index

RangeIndex(start=0, stop=8784, step=1)

# The columns of the dataset

In [29]:
weather_df.columns

Index(['Date/Time', 'Temp_C', 'Dew Point Temp_C', 'Rel Hum_%',
       'Wind Speed_km/h', 'Visibility_km', 'Press_kPa', 'Weather'],
      dtype='object')

# First 10 entries of the dataset

In [30]:
weather_df.head(n=10)

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
0,1/1/2012 0:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,1/1/2012 1:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,1/1/2012 2:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,1/1/2012 3:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,1/1/2012 4:00,-1.5,-3.3,88,7,4.8,101.23,Fog
5,1/1/2012 5:00,-1.4,-3.3,87,9,6.4,101.27,Fog
6,1/1/2012 6:00,-1.5,-3.1,89,7,6.4,101.29,Fog
7,1/1/2012 7:00,-1.4,-3.6,85,7,8.0,101.26,Fog
8,1/1/2012 8:00,-1.4,-3.6,85,9,8.0,101.23,Fog
9,1/1/2012 9:00,-1.3,-3.1,88,15,4.0,101.20,Fog

# Rename the column "Weather" of the dataframe to "Weather Condition"

In [31]:
weather_df.rename(columns={"Weather": "Weather Condition"}, inplace=True)

In [32]:
weather_df

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather Condition
0,1/1/2012 0:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,1/1/2012 1:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,1/1/2012 2:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,1/1/2012 3:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,1/1/2012 4:00,-1.5,-3.3,88,7,4.8,101.23,Fog
...,...,...,...,...,...,...,...,...
8779,12/31/2012 19:00,0.1,-2.7,81,30,9.7,100.13,Snow
8780,12/31/2012 20:00,0.2,-2.4,83,24,9.7,100.03,Snow
8781,12/31/2012 21:00,-0.5,-1.5,93,28,4.8,99.95,Snow
8782,12/31/2012 22:00,-0.2,-1.8,89,28,9.7,99.91,Snow
8783,12/31/2012 23:00,0.0,-2.1,86,30,11.3,99.89,Snow

# Find the mean visibility

In [34]:
average_visibility = weather_df["Visibility_km"].mean()
print(f"The average visibility is {average_visibility}")

The average visibility is 27.664446721311478

# Find the standard deviation of "Pressure" in the data

In [36]:
pressure_standard_dev = weather_df["Press_kPa"].std()
print(f"The standard deviation of pressure is {pressure_standard_dev}")

The standard deviation of pressure is 0.8440047459486483

# Find the variance of Relative Humidity

In [38]:
relative_humidity_variance = weather_df["Rel Hum_%"].var()
print(f"The variance for relative humidity is {relative_humidity_variance}")

The variance for relative humidity is 286.24855019850196