In [4]:
# This notebook will follow a series of data anaylsis exercises using the pandas library.
# I will follow the video at this link and try all the exercises myself before continuing on to the solution
# Video can be found at this link: https://www.youtube.com/watch?v=4hYOkHijtNw&list=PLy3lFw0OTlutzXFVwttrtaRGEEyLEdnpy&index=1&t=3s

In [5]:
# Import necessary libraries
import pandas as pd

In [9]:
# Read in dataset and assign it to a variable called weather
dataset_link = "/Users/trishulsathiyamoorthy/Desktop/data_analysis/1. Weather Data.csv"
weather_df = pd.read_csv(dataset_link)

weather_df

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
0,1/1/2012 0:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,1/1/2012 1:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,1/1/2012 2:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,1/1/2012 3:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,1/1/2012 4:00,-1.5,-3.3,88,7,4.8,101.23,Fog
...,...,...,...,...,...,...,...,...
8779,12/31/2012 19:00,0.1,-2.7,81,30,9.7,100.13,Snow
8780,12/31/2012 20:00,0.2,-2.4,83,24,9.7,100.03,Snow
8781,12/31/2012 21:00,-0.5,-1.5,93,28,4.8,99.95,Snow
8782,12/31/2012 22:00,-0.2,-1.8,89,28,9.7,99.91,Snow
8783,12/31/2012 23:00,0.0,-2.1,86,30,11.3,99.89,Snow

# Find the unique "Wind Speed" values in the dataset

In [10]:
weather_df["Wind Speed_km/h"].unique()

array([ 4,  7,  6,  9, 15, 13, 20, 22, 19, 24, 30, 35, 39, 32, 33, 26, 44,
       43, 48, 37, 28, 17, 11,  0, 83, 70, 57, 46, 41, 52, 50, 63, 54,  2])

# Find the number of times when the Weather is exactly "Clear"

In [12]:
clear_weather_occurrences = len(weather_df[weather_df["Weather"] == "Clear"])
print(f"Clear weather occurred a total of {clear_weather_occurrences} times")

Clear weather occurred a total of 1326 times

# Find the number of times when the wind speed was exactly 4 km/h

In [14]:
four_km_occurrences = len(weather_df[weather_df["Wind Speed_km/h"] == 4])
print(f"The wind speed was 4 km/h a total of {four_km_occurrences} times")

The wind speed was 4 km/h a total of 474 times

# Find the all the null values in the entire dataframe

In [ ]:
df